* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primary-color: #ff42a5;
  --secondary-color: #8758f1;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.gradient-color {
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-color-2 {
  background: linear-gradient(#f948b2, #f948b2, #8758f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 48px;
  font-weight: 700;
}

h5 {
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  color: #534c64;
}

h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
  color: #534c64;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #534c64;
}

/* ---------- Header Section Start ---------- */
nav {
  padding: 25px 0;
  box-shadow: 0px 0px 7px -4px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo h2 {
  font-size: 45px;
}

.logo h2 span,
.footer-logo h2 span {
  color: var(--primary-color);
}

.nav-bar ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-bar ul li {
  list-style: none;
}

.nav-bar ul li a,
.nav-bar ul p {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #3c354f;
}

.nav-bar ul p {
  text-decoration: none;
  background-color: rgba(11, 02, 35, 0.1);
  padding: 20px 30px;
  border-radius: 8px;
}

.nav-bar ul p .fa-youtube {
  color: #f61c0d;
}

.main-banner {
  background-image: url(./images/group14.png);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: left;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content,
.banner img {
  width: 50%;
}

.banner-content {
  padding: 98px 100px 98px 0;
}

.banner-content h2 {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
}

.banner-content h1 {
  font-size: 95px;
  font-weight: 800;
}

.banner-content h6 {
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}

.banner-content .fa-download,
.banner-content .fa-circle-play,
.banner-content .fa-user-group {
  color: var(--primary-color);
}

.btn {
  font-size: 20px;
  font-weight: 600;
  padding: 20px 30px;
  border: none;
  border-radius: 48px;
  text-transform: uppercase;
  margin: 20px;
}

.btn-1 {
  color: #ffffff;
  background-color: var(--primary-color);
}

.btn-2 {
  color: #ffffff;
  background-color: #4ec5f7;
}

/* ---------- Header Section End ---------- */

/* ---------- We Are Gamer Section Start ---------- */

.gamer {
  background-color: rgba(255, 66, 165, 0.03);
  padding: 50px 0 100px;
}

.we-are-gamer-img,
.we-are-gamer-content {
  width: 50%;
}

.we-are-gamer {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: right;
}

.we-are-gamer-content h3 {
  margin-bottom: 20px;
}

.we-are-gamer-content button {
  margin: 20px 0;
}

.we-are-gamer-img img {
  width: 100%;
}

/* ---------- We Are Gamer Section End ---------- */

/* ---------- Online Game Section Start ---------- */
.online-game {
  padding: 100px 0;
}

.online-game > h3,
.online-game > p {
  text-align: center;
}

.online-game p {
  padding: 20px 0 30px;
}

.online-game-card {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  justify-content: space-evenly;
}

.card-img img {
  width: 250px;
  height: 320px;
  border: 1px solid #ffffff;
}

.card-img {
  position: relative;
}

.card {
  width: 250px;
}

.image-hover-div {
  width: 250px;
  height: 320px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--primary-color);
  border-radius: 18px;
  color: white;
  font-size: 48px;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.image-hover-div p {
  color: var(--primary-color);
  font-size: 20px;
}

.image-hover-div {
  display: none;
}

.card img:hover ~ .image-hover-div {
  display: block;
}

.div-hover-content {
  position: absolute;
  top: 40%;
  left: 25%;
}
/* ---------- Online Game Section End ---------- */

/* ---------- Play Instantly Section Start ---------- */
.play-instantly {
  display: flex;
  align-items: center;
}

.play-instantly-content,
.play-instantly-img,
.play-games-img,
.play-games-content {
  width: 50%;
}

.play-instantly-content {
  text-align: right;
  padding-right: 130px;
}

.main-image {
  width: 100%;
}

.down-image img {
  width: 40%;
}

.down-image {
  margin-top: -30%;
  margin-left: -15%;
}
/* ---------- Play Instantly Section End ---------- */

/* ---------- Play Games Section End ---------- */
.play-games {
  display: flex;
  align-items: center;
  padding: 100px 0;
}

.play-games-content {
  padding-left: 130px;
}

.down-image-2 img {
  width: 50%;
  margin-top: -30%;
  margin-left: 65%;
}
/* ---------- Play Games Section End ---------- */

/* ---------- Careers Section Start ---------- */
.careers {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 100px 0;
}

.careers-content,
.careers-image {
  width: 50%;
}

.careers-section,
.careers-left-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.careers-content-right {
  text-align: right;
}

.careers-content p {
  color: #ffffff;
  padding: 50px 0;
}

.careers-content-right h6,
.careers-content-left h6 {
  font-size: 20px;
  color: #ffffff;
}

.btn-3 {
  margin: 20px 0;
  color: var(--primary-color);
  background-color: #ffffff;
}

.careers-image img {
  width: 100%;
  height: 100%;
}

/* ---------- Careers Section End ---------- */

/* ---------- Button Section Start ---------- */
.nine-button {
  background-color: rgb(255, 66, 165, 0.03);
}

.button-list {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.btn-bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 14px;
  border: 2px solid #ffffff;
  border-radius: 48px;
  font-size: 20px;
  font-weight: 600;
  background-color: #ffffff;
}

.btn-bottom:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
/* ---------- Button Section End ---------- */

/* ---------- Footer Section Start ---------- */
footer {
  background-color: #0b0223;
  padding: 100px 0;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer-logo h2 {
  color: #ffffff;
  font-size: 45px;
}

.footer-area > ul {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px 0;
}

.footer-area > ul li,
.footer-icon > ul li,
.policy-menu > ul li {
  list-style: none;
}

.footer-area > ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.footer-icon > ul {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-icon > ul li a {
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-weight: 600;
}

.policy-menu > ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px 0 20px;
}

.policy-menu > ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}

.footer-area p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
/* ---------- Footer Section End ---------- */

/* ---------- Breakpoint / Media Query / Responsive Section ---------- */

@media only screen and (max-width: 992px) {
  nav {
    box-shadow: 0 0 0 0;
  }

  .nav-bar,
  .nav-bar ul,
  .we-are-gamer,
  .play-instantly,
  .careers-section {
    flex-direction: column;
    gap: 50px;
  }

  .banner-content,
  .banner img,
  .we-are-gamer-img,
  .we-are-gamer-content,
  .play-instantly-content,
  .play-games-content,
  .careers-content,
  .careers-image,
  .play-instantly-img,
  .play-games-img {
    width: 100%;
  }

  .main-banner {
    background-image: none;
  }

  .banner-content {
    background-image: url(./images/group14.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding: 10% 25%;
  }

  .gamer {
    background-color: #ffffff;
  }

  .play-instantly-img {
    padding: 20px 40px 20px 100px;
  }

  .play-games-img {
    padding: 50px 130px 20px 40px;
  }

  .online-game p {
    padding-bottom: 50px;
  }

  .banner,
  .play-games {
    flex-direction: column-reverse;
  }

  .banner {
    align-items: center;
    justify-content: center;
  }

  .banner .btn {
    margin: 14px;
  }

  .we-are-gamer,
  .online-game,
  .play-instantly h3,
  .play-instantly p,
  .play-games {
    text-align: center;
  }

  .play-instantly-content {
    padding-right: 0;
  }
  .play-games-content {
    padding-left: 0;
  }

  .play-instantly,
  .play-games {
    margin-bottom: 100px;
  }

  .online-game-card {
    grid-template-columns: repeat(2, 250px);
    justify-content: space-around;
  }

  .btn-bottom {
    gap: 5px;
    padding: 2px 8px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 767.98px) {
  .container {
    padding: 0 20px;
  }

  h3 {
    font-size: 36px;
  }

  .banner-content {
    padding: 20% 10%;
  }

  .banner-content h1 {
    font-size: 60px;
  }

  .banner-content h2 {
    font-size: 36px;
  }

  .banner-content h6 {
    font-size: 15px;
    padding: 0px;
  }

  .online-game-card {
    grid-template-columns: repeat(1, 250px);
  }

  .play-instantly-img {
    padding: 20px 15px 0px 80px;
  }

  .play-games-img {
    padding: 50px 80px 0 40px;
  }

  .careers-content-left h6,
  .careers-content-right h6 {
    font-size: 12px;
  }

  .btn-1,
  .btn-2 {
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 48px;
  }

  .btn-bottom {
    gap: 2px;
    padding: 2px 5px;
    font-size: 10px;
  }

  .btn-bottom img {
    height: 20px;
  }

  .nine-button {
    padding: 40px 0;
  }

  .footer-area > ul,
  .footer-icon > ul {
    grid-template-columns: repeat(3, auto);
  }

  .policy-menu > ul {
    grid-template-columns: repeat(2, auto);
  }
  .policy-menu p {
    padding-top: 30px;
  }
}
